body {
    background-color: black;
    color: white;
}

.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.cards li {
    background-color: darkblue;/*#D4E4F7;*/
    border: 1px solid #d0bfff;
    padding: 10px;
    border-radius: 5px;
}

.inner {
    text-align: center;
}

#grid-div.example {
    max-width: 1080px;
    margin: 0 auto;
}

#grid-div h2 {
    text-align: center;
}